
.hover.a :hover{
    color: red;
    background-color: hotpink;
}
.hover{
    margin-right: 30px;
}
.hover a{
    float: right;
    padding: 12px;
    font-size: 24px;
    text-align: center;
    
}
/* .active{
    font-weight: bold;
    background-color: grey;
} */
