.cards{
    /* position: relative;
     width: 100%; 
    min-height: 100vh; */
    background-image: linear-gradient(to right,rgba(85, 149, 214, 0.4), rgba(255, 88, 88,0.8));
    
}
.icon{
    color: blue;

}
.icon1{
    color:tomato;
    

}
.icon2{
    color:blue
}
.icon3{
    color:rgb(16, 157, 212)
}
.material-icons.md-48 { 
    font-size: 48px; 
}
.cards{
    width:100%;
    height:100%
}
.div{
min-height: 100vh;
}
.para{
    color:black;
    font-size: 1.5rem;
}
.loginbtn{
    background-image: linear-gradient(to right,rgba(255, 0, 85, 0.644), rgba(255, 88, 88,0.8));  
}
.header{
    font-size: 1.3rem;
}

