.div{
    position: relative;
    /* width: 100%; */
    min-height: 100vh;
    background-image: linear-gradient(to right,rgba(0,100,200,0.8), rgba(255, 88, 88,0.8));
    
}
/* .container{
 width: 50%;
 float: right;
} 
.img{
    width: 50%;
} */