*{
    box-sizing: border-box;
}
.ul{
    list-style-type: none;
    padding: 0;
    margin:0
}
.ul li{
    padding:10px;
    margin:10px;
    border:1px solid black;
    border-radius: 20px;

    
}
.ul li hover{
    background-color: hotpink;
}
.color{
    background-color: rgba(239,52,92,0.1);
}
.sizing{
    box-sizing: border-box;
}
.rows{
    padding:40px;

}
.imagecontainer{
    position: relative;
    text-align: center;
    color: white;
}
.centered{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

