.error{
    color:red
}

.child{
    border: 2px solid grey;
    background-color: white;
    width:50%
   
}
.heading h1,p{
    text-align:center
}
.image{
    width: 50%;
}
@media screen and (max-width: 756px) {
    .child{
        width: 100%;
        justify-content: center;
    }
    .image{
        display:none;
    }
}
.signupcard{
    background: linear-gradient(to bottom right,rgba(214, 126, 231, 0.7),rgba(104, 186, 201, 0.7));
}
.secondcol{
    color:grey;
}
.cardbody{
    font-size: 1.3rem;
}
.submitbtn{
    
}

